NODE_ENV=

DNS_SERVERS=

API_PORT=
API_WHITELIST=
API_METHODS=
API_RATE_LIMIT_TIME=
API_RATE_LIMIT_REQUESTS=

DATABASE_URL=
DATABASE_PASSWORD=

JWT_SECRET_KEY=
JWT_EXPIRES_IN=

BCRYPT_ROUNDS=

LOG_LEVEL=
LOG_TO_FILE=