.auth {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url('../polygon.svg');
	background-size: cover;

	&__form {
		display: flex;
		flex-direction: column;
		min-width: 40rem;
		max-width: 90vw;
		max-height: 100%;
		background-color: $color-light;
		border: 3px solid $color-text-primary;
		padding: 3rem;
		gap: 1rem;
		box-shadow: 10px 10px 0 $color-text-primary;

		.auth__errors {
			background-color: brown;
			padding: 1rem;
			border-radius: 3px;
			list-style: none;

			&__item {
				font-size: 1.4rem;
				color: $color-light;
			}
		}

		.auth__title {
			color: $color-text-primary;
			font-size: 3.2rem;
			text-align: center;
		}

		.auth__siblings {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 1rem;
		}

		.auth__btns {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
			margin-top: 2rem;

			& .btn__secondary {
				width: 100%;
			}
		}
	}
}
