.product {
	display: grid;
	grid-template-columns: 35% 1fr;
	justify-content: center;
	column-gap: 10rem;
	padding: 6rem 20rem;
	background: url('../polygon.svg');
	background-size: cover;

	&__image {
		height: 100%;
		background-color: $color-light;

		& * {
			--x: 50%;
			--y: 50%;
			width: 100%;
			transform: scale(var(--zoom));
			transform-origin: var(--x) var(--y);
			clip-path: inset(
				calc((1 - 1 / var(--zoom)) * (var(--y))) calc((1 - 1 / var(--zoom)) * (100% - var(--x)))
					calc((1 - 1 / var(--zoom)) * (100% - var(--y))) calc((1 - 1 / var(--zoom)) * (var(--x)))
			);
			object-fit: cover;
		}

		&:hover {
			--zoom: 2.5;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 2rem;
		max-width: 80%;

		.product__title {
			font-size: 4.2rem;
			color: $color-text-primary;
			border-bottom: 3px solid $color-text-primary;
		}

		.product__price {
			font-size: 3.2rem;
			font-weight: 600;
			color: $color-text-primary;
		}

		.product__description {
			font-size: 1.8rem;
			max-width: 50rem;
		}

		.product__colors {
			display: flex;
			gap: 1rem;
			flex-wrap: wrap;

			&__item {
				display: block;
				height: 3rem;
				width: 3rem;
				background-color: rgb(218, 218, 218);
				border-radius: 50%;
				cursor: pointer;
				border: 2px solid #bbb;
				transition: border 0.3s;

				&.active {
					border: 2px solid black;
				}
			}
		}

		.product__sizes {
			display: flex;
			gap: 1rem;
			flex-wrap: wrap;

			&__item {
				display: block;
				height: 5rem;
				width: 6.5rem;
				padding: 1rem 2rem;
				font-size: 1.8rem;
				border: 2px solid #bbb;
				background-color: #fff;
				cursor: pointer;
				position: relative;
				user-select: none;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 0;
					background-color: $color-text-primary;
					z-index: 1;
					transition: width 0.3s ease, height 0.3s ease;
					transform-origin: bottom right;
				}

				&:hover {
					border: 2px solid black;
					color: $color-text-primary;
				}

				& span {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				&.active {
					color: #fff;
					border: 2px solid $color-text-primary;

					&::before {
						width: 100%;
						height: 100%;
					}

					& span {
						z-index: 2;
					}
				}
			}
		}

		.product__buttons {
			display: flex;
			gap: 2rem;
		}
	}

	&__delivery__info {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 4rem;
		background-color: $color-light;
		border-radius: 10px;
		margin-top: 6rem;
		gap: 1rem;
		grid-column: 1 / -1;

		&__icon {
			position: absolute;
			top: -30px;
			left: 95%;
			font-size: 4.8rem;
			padding: 2rem;
			background-color: $color-text-primary;
			border-radius: 20px;
			transform: rotate(15deg);
			color: $color-light;
		}

		&__title {
			font-size: 2.6rem;
			color: $color-text-primary;
		}

		&__description {
			font-size: 1.8rem;
		}
	}
}
