@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: $color-text-secondary;
}

a,
a:visited {
	text-decoration: none;
}

.open-icon,
.close-icon {
	font-size: 1.6rem;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background-color: $color-light;
	height: 100vh;
	width: 100vw;

	&__box {
		background-color: $color-text-primary;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		animation-name: bounce;
		animation-duration: 2000ms;
		animation-iteration-count: infinite;
		animation-fill-mode: backwards;

		&:nth-of-type(2) {
			animation-delay: 500ms;
		}

		&:nth-of-type(3) {
			animation-delay: 1000ms;
		}
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
	10% {
		transform: translateY(0);
	}
}

.hidden {
	display: none;
}
